<!-- Modified from chess club, author: Valentin Magis - To be replaced -->
{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <h1>Confirm new Password</h1>
      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
      <form method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Update Password" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
