<!-- Modified from chess club, author: Valentin Magis - To be replaced -->
{% extends 'base.html' %}
{% block body %}
<div class="container vh-100">
    <div class="row h-100">
      <div class="col my-auto">
          <h1 class="cover-heading">Book Clubs</h1>
          <p class="cover-text">Reset Email sent!</p>
          <p>If your account is associated with this email address you will receive an email to reset your password.</p>
          <p>
          <a href='{% url 'home' %}' class="btn btn-lg btn-secondary">
              Home
          </a>
          </p>
      </div>
    </div>
</div>
{% endblock %}
